In [1]:
import pandas as pd
import numpy as np
import snowflake.connector
import time
import re
pd.options.display.max_colwidth = 1000

In [2]:
PRODUCT_MASTER_CATALOG_MAPPED_TEMP = pd.read_csv('~/Downloads/PRODUCT_MASTER_CATALOG_MAPPED_TEMP.csv', dtype= 'str')

In [3]:
PRODUCT_MASTER_CATALOG_MAPPED_TEMP

,INVOICE_UPC_CASE,INVOICE_ITEM_FTS_ID,GTIN_12_UPC,GTIN,PRODUCT_DESCRIPTION
0,085000018026,2104179096,085000018026,00085000018020,LIBERTY CREEK SWEET RED 6/1.5L
1,085000015209,1988650482,085000015209,00085000015209,GALLO F MSC CHL CHLE OTHR WHT 1.5 LTR
2,031259008950,2342017883,031259008950,00031259008950,YELLOW TAIL SHIRAZ 6/1500 REGULAR LABEL
3,034100016418,2380611873,034100016418,00034100016418,MILLER HIGH LIFE BEER 6 CT 7 OZ GLASS BOTTLE IN CRTN 42 OZ
4,619947000020,2118593108,619947000020,00619947000020,TITO'S HANDMADE VODKA 750 ML BOTTLE
...,...,...,...,...,...
480073,722160061003,1977777510,722160061003,00722160061003,ODELL 90 SHILLING ALE BEER 6 CT 12 OZ LONG NECK BTL CRTN 72 OZ
480074,727344000076,2472319742,727344000076,00727344000076,NORTH COAST SCRIMSHAW PILSNER BEER 6 CT 12 OZ GLASS BOTTLE IN CRTN 72 OZ
480075,018200112461,2475508861,018200112461,00018200112461,BUDWEISER BEER 12 CT 12 OZ CAN IN BOX 144 OZ
480076,082242013253,2512503469,082242013253,00082242013253,BOTA BOX PINOT GRIGIO 3/3L
480077,031259002620,2016807472,031259002620,00031259002620,JOSH CELLARS OREGON RESERVE PINOT NOIR 2014 750ML

In [4]:
PRODUCT_MASTER_TEMP = pd.read_csv('~/Downloads/PRODUCT_MASTER_TEMP.csv' , dtype = 'str')

In [5]:
print('PRODUCT_MASTER_CATALOG_MAPPED_TEMP 100mb', len(PRODUCT_MASTER_CATALOG_MAPPED_TEMP))
print('PRODUCT_MASTER_TEMP',len(PRODUCT_MASTER_TEMP))

PRODUCT_MASTER_CATALOG_MAPPED_TEMP 100mb 480078
PRODUCT_MASTER_TEMP 219343

select t.GTIN, p.GS1_COMPANY_NAME from FDC_STAGE.DASCI.PRODUCT_MASTER_TEMP t
inner join FDC_STAGE.DASCI.PRODUCT_MASTER_CATALOG p
on p.GTIN = t.GTIN

# UPDATE QUERY FOR GS1_COMPANY_NAME
  
UPDATE FDC_STAGE.DASCI.PRODUCT_MASTER_TEMP   
SET t.GS1_COMPANY_NAME = p.GS1_COMPANY_NAME  
FROM FDC_STAGE.DASCI.PRODUCT_MASTER_TEMP t   
INNER JOIN FDC_STAGE.DASCI.PRODUCT_MASTER_CATALOG p  
on p.GTIN = t.GTIN

In [6]:
PRODUCT_MASTER_TEMP

,SOURCE_KEY,SOURCE_DESCRIPTION,SOURCE_PATH,GS1_COMPANY_PREFIX,GS1_COMPANY_NAME,GTIN,GTIN_12_UPC,ALTVERIFIED_12_UPC,PRODUCT_DESCRIPTION,PRODUCT_DESCRIPTION_SHORT,...,COCKTAIL_STYLE_KEY,COCKTAIL_STYLE_NAME,MANUFACTURER_KEY,MANUFACTURER_NAME,MANUFACTURER_DBA,IMPORTER_KEY,IMPORTER_NAME,IMPORTER_DBA,BRAND_OWNER_KEY,BRAND_OWNER
0,NaN,GS1 data hub product,DASCI.D_GS1_PRODUCTS,0855768003,NaN,00855768003103,855768003103,NaN,1817 HARD APPLE CIDER,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,GS1 data hub product,DASCI.D_GS1_PRODUCTS,0855768003,NaN,00855768003097,855768003097,NaN,ARKANSAS BLACK HARD APPLE CIDER,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,GS1 data hub product,DASCI.D_GS1_PRODUCTS,0855768003,NaN,00855768003158,855768003158,NaN,ARKANSAS BLACK 500ML HARD APPLE CIDER,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GS1 data hub product,DASCI.D_GS1_PRODUCTS,0855768003,NaN,00855768003110,855768003110,NaN,BLACK TWIG HARD APPLE CIDER,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,GS1 data hub product,DASCI.D_GS1_PRODUCTS,0855768003,NaN,00855768003127,855768003127,NaN,BRUT D'ALBEMARLE HARD APPLE CIDER,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219338,NaN,GS1 data hub product,DASCI.D_GS1_PRODUCTS,08604400024,NaN,10860440002432,NaN,NaN,TIPP RAMBLER SPARKLING ROSE WINE 750 ML CASE,NaN,...,NaN,NaN,24242,WICK VINTNERS LLC,NaN,NaN,NaN,NaN,NaN,NaN
219339,NaN,GS1 data hub product,DASCI.D_GS1_PRODUCTS,08691040000,NaN,00869104000015,869104000015,NaN,WOODENHEAD MENDONOMA ZINFANDEL,NaN,...,NaN,NaN,26327,NICKOLAI V STEZ & ZINAIDA A BOWER,NaN,NaN,NaN,NaN,NaN,NaN
219340,NaN,GS1 data hub product,DASCI.D_GS1_PRODUCTS,08691040000,NaN,00869104000022,869104000022,NaN,WOODENHEAD MARIAH VINEYARD PINOT NOIR,NaN,...,NaN,NaN,26327,NICKOLAI V STEZ & ZINAIDA A BOWER,NaN,NaN,NaN,NaN,NaN,NaN
219341,NaN,GS1 data hub product,DASCI.D_GS1_PRODUCTS,08691040000,NaN,00869104000039,869104000039,NaN,WOODENHEAD LERAS RANCHES BERTOLI VINEYARD ZINFANDEL,NaN,...,NaN,NaN,26327,NICKOLAI V STEZ & ZINAIDA A BOWER,NaN,NaN,NaN,NaN,NaN,NaN
219342,NaN,GS1 data hub product,DASCI.D_GS1_PRODUCTS,08691040000,NaN,00869104000008,869104000008,NaN,WOODENHEAD VINTNERS RUSSIAN RIVER VALLEY PINOT NOIR,NaN,...,NaN,NaN,26327,NICKOLAI V STEZ & ZINAIDA A BOWER,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION = pd.DataFrame(PRODUCT_MASTER_CATALOG_MAPPED_TEMP['PRODUCT_DESCRIPTION'])

In [8]:
PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.to_csv('~/Downloads/PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION')

In [9]:
keyword_counts = PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['PRODUCT_DESCRIPTION'].str.split(' ', expand=True).stack().value_counts()

In [10]:
names = ['key','counts']
keyword_counts

OZ           521488
CT           255694
12           233668
BEER         224883
IN           178724
              ...
STR)              1
SASHA             1
EZIO              1
APERTIF           1
CUILLERON         1
Length: 8857, dtype: int64

In [11]:
keyword_counts.to_csv('~/Downloads/keyword_counts_in_MASTER_CATALOG_MAPPED_TEMP.csv',sep=',')

In [12]:
keyword_counts = pd.read_csv('~/Downloads/keyword_counts_in_MASTER_CATALOG_MAPPED_TEMP.csv',sep=',',names=names)

In [13]:
keyword_counts

            key  counts
0           NaN       0
1            OZ  521488
2            CT  255694
3            12  233668
4          BEER  224883
...         ...     ...
8853       STR)       1
8854      SASHA       1
8855       EZIO       1
8856    APERTIF       1
8857  CUILLERON       1

[8858 rows x 2 columns]

In [14]:
# k = PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['PRODUCT_DESCRIPTION'].str.strip()


# any (regex.match(line) for regex in [regex1, regex2, regex3])
# BOTTLE IN CRTN 42 OZ
# BTL IN BOX 288 OZ
# BOTTL IN BX 240 OZ
# BOTTLE 12 OZ

In [15]:
# Approach 1 - Count: 70172
# PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['bottle'] = PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['PRODUCT_DESCRIPTION']\
# .str.extract(r'(BO?T?T?LE?\s+I?N?\s+\w+\s+\d+\s+OZ)', expand=False).str.strip()

In [16]:
PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.columns

Index(['PRODUCT_DESCRIPTION'], dtype='object')

In [17]:
#PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.drop(['ctoz'],axis=1,inplace =True)

In [18]:
# #Aprroach 2: Count: 135319
# # regstr = ['BOTTLE', 'BTL','BOTLE', 'BTTL','BTLE']
# # PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['btlcontain'] = \
# # PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION[PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['PRODUCT_DESCRIPTION'].str.contains('BOTTLE|BTL|BOTLE|BTTL|BTLE')]

# regstr =[' BOTTLE', ' BTL',' BOTLE', ' BTTL',' BTLE', ' BOTTLES']
# PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['btl'] = \
# PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION[PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['PRODUCT_DESCRIPTION'].str.contains('|'.join(regstr))]

In [19]:
# PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['btl']

In [20]:
# re.split('|'.join(regstr),'MILLER HIGH LIFE BEER 6 CT 7 OZ GLASS BOTTLE IN CRTN BOTTLE 42 OZ',1)

In [21]:
# bottle_to_end = []
# for i in PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['btl'][:50]:
#     if type(i) == str :
#         print(i)
#         bottle_to_end.append(re.split('|'.join(regstr),i)[1])
# #     else: 
# #         PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['bottle_to_end'] = np.nan

In [22]:
# string = 'GUINNESS DRAUGHT BEER 24 CT 11 OZ LONG NECK BTL IN BOX 268.8 OZ'
# re.split(' BOTTLE | BTL | BOTLE | BTTL | BTLE', string)

In [23]:
# PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['bottle_to_end']

In [24]:
# PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.drop(['btl'], axis=1, inplace = True)

In [25]:
# #Beer - Count: 224637
# word = ['BEER']
# PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['beer'] = \
# PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION[PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['PRODUCT_DESCRIPTION'].str.contains('|'.join(word))]

In [26]:
PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.head()

                                          PRODUCT_DESCRIPTION
0                              LIBERTY CREEK SWEET RED 6/1.5L
1                       GALLO F MSC CHL CHLE OTHR WHT 1.5 LTR
2                     YELLOW TAIL SHIRAZ 6/1500 REGULAR LABEL
3  MILLER HIGH LIFE BEER 6 CT 7 OZ GLASS BOTTLE IN CRTN 42 OZ
4                         TITO'S HANDMADE VODKA 750 ML BOTTLE

# BEER NAME EXTRACTION

In [43]:
def extract_beer(text, list_of_keywords):    
    res = ""
    text = text.split(" ")
    for ber in list_of_keywords:
        if ber in text:
            idx = text.index(ber)
            res = " ".join(text[:idx])
            break
        else:
            continue
    return res

In [44]:
# Example
extract_beer('MILLER HIGH LIFE BEER 6 CT 7 OZ GLASS BOTTLE IN CRTN 42 OZ',['BEER'])

'MILLER HIGH LIFE'

In [45]:
list_of_keywords = ["BEER"]
for i in PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.index:
#     print(type(i))
    beer = PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.loc[i, "PRODUCT_DESCRIPTION"]
    if type(beer) == str :
        PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.loc[i, 'beer_name'] = extract_beer(beer,list_of_keywords)
    else: 
        PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.loc[i, 'beer_name'] = " "

# Extract pattern: BOTTLE

In [30]:
def extract_bottle(text, list_of_keywords):    
    res = ""
    text = text.split(" ")
    for btl in list_of_keywords:
        if btl in text:
            idx = text.index(btl)
            res = " ".join(text[idx:])
            break
        else:
            continue
    return res

In [31]:
list_of_keywords =['BOTTLE', 'BTL','BOTLE', 'BTTL','BTLE', 'BOTTLES']
for i in PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION[:300].index:
    bottle = PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.loc[i, "PRODUCT_DESCRIPTION"]
    if type(bottle) == str :
        PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.loc[i, 'bottle'] = extract_bottle(bottle,list_of_keywords)
    else: 
        PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.loc[i, 'bottle'] = " "

# PATTERN N CT N OZ

In [32]:
def pattern_n_ct_n_oz(description):
    return description.str.extract(r'(\d\s+CT\s+\d\s+OZ)', expand=False).str.strip()

In [33]:
PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['ctoz'] = pattern_n_ct_n_oz(PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['PRODUCT_DESCRIPTION'])

In [34]:
PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION = PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.fillna(" ")

In [35]:
PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION.head()

,PRODUCT_DESCRIPTION,beer_name,bottle,ctoz
0,LIBERTY CREEK SWEET RED 6/1.5L,,,
1,GALLO F MSC CHL CHLE OTHR WHT 1.5 LTR,,,
2,YELLOW TAIL SHIRAZ 6/1500 REGULAR LABEL,,,
3,MILLER HIGH LIFE BEER 6 CT 7 OZ GLASS BOTTLE IN CRTN 42 OZ,MILLER HIGH LIFE,BOTTLE IN CRTN 42 OZ,6 CT 7 OZ
4,TITO'S HANDMADE VODKA 750 ML BOTTLE,,BOTTLE,

In [46]:
PRODUCT_MASTER_CATALOG_MAPPED_TEMP_BEER_NAME = PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION[PRODUCT_MASTER_CATALOG_MAPPED_TEMP_PRODUCT_DESCRIPTION['beer_name'] != ""]['beer_name']

In [53]:
PRODUCT_MASTER_CATALOG_MAPPED_TEMP_BEER_NAME.drop_duplicates(inplace= True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Total 1306 records, after removing duplicates from 2.2M

In [54]:
PRODUCT_MASTER_CATALOG_MAPPED_TEMP_BEER_NAME.to_csv("~/Downloads/beer_brands.csv", sep=',')